
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

:root {
    --white: #fafafb;
    --purble:#9a67ea;
    --blue-light:#04d4c3;
    --blue-dark:#2a73c2;
    --green:#2c7b90;

}

body {
    background: linear-gradient(to bottom, var(--purble), var(--blue-light));
    height: 100vh;
    font-family:sans-serif, 'Fasthand', cursive, sans-serif;
   
}

.perfil h1 {
    color: #000;
    letter-spacing: 2px;

}

.perfil span {
    color: #000;
    letter-spacing: 1px;

}
#fecha {
    color: #000;
    padding: 50px 0 5px 0;
    letter-spacing: 3px;
    

}
.container {
    border: 1px solid #000;
    max-width: 80%;
    width: 400px;
    height: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 15px 15px 10px 8px;
}

/*content hinzufügen*/


.agregar-tarea {
   background-color: var(--white);
    border-radius: 15px;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 70px;
    color: #000;
    margin: 40px 0;

}

.agregar-tarea input {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: none;
    background-color: var(--white);
}

.agregar-tarea i {
font-size: 40px;
color: var(--purble);

}

.agregar-tarea i:hover {
    transform: scale(1.1);
    cursor: pointer;

}
.agregar-tarea input::placeholder {
    font-size: 1.1rem;
    color: var(--purble);

}
/*Section liste*/

.seccion-tarea h3 {
    color: #000;
    margin-bottom: 20px;


}

.seccion-tarea li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to bottom, var(--blue-dark), var(--green));
    border-radius: 15px;
    padding: 5px;
    margin: 5px 0;
    
}

.seccion-tarea i {
    font-size: 20px;
    color: var(--blue-light);
    cursor: pointer;

}
.seccion-tarea i:hover {
    color: var(--blue-light);
    cursor: pointer;
}

.seccion-tarea > ul p {
    font-size: 1.2rem;

}
.line-through {
    text-decoration: line-through;
    color: var(--blue-light);
}